.producto {
    width: 80%;
    margin: 30px;
    border-radius: 5px;
}

.producto:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 400ms;
}

.producto h3 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.producto p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 10px;
}

.producto a {
    margin: 10% 15%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    /*Button Color & Border*/
    border: 4px solid #000;
    color: #fff;
    background: #000;
    outline: none;
    /*Position, Display, Size*/
    position: relative;
    display: inline-block;
    padding: 10px 15px 9px;
    cursor: pointer;
    width: auto;
}

.producto a::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    background-color: #fff;
    left: 4px;
    top: 4px;
    z-index: -1;
    content: '';
    transition: all 500ms;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.producto a:hover {
    top: 2px;
    left: 2px;
}

.producto a:hover::after {
    top: -2px;
    left: -2px;
}

.producto img {
    margin-left: 50px;
    margin-top: 20px;
    width: 180px;
}