.itemDetail {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin: 60px;
    padding: 80px;
    border-radius: 10px;
    -webkit-box-shadow: 14px 6px 49px 3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 14px 6px 49px 3px rgba(0, 0, 0, 0.66);
    box-shadow: 14px 6px 49px 3px rgba(0, 0, 0, 0.66);
}

section {
    margin-top: -50px;
}

.itemDetail img {
    width: 350px;
    margin-right: 25px;
    margin-top: -40px;
}

.itemDetail h1 {
    font-size: 40px;
    margin-top: 50px;
}

.itemDetail p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.itemDetail h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}